In [79]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, SGDClassifier
from sklearn.metrics import mean_squared_error, mean_absolute_error # 回帰問題における性能評価に関する関数
from sklearn.metrics import log_loss, accuracy_score, precision_recall_fscore_support, confusion_matrix # 回帰問題における性能評価に関する関数
import seaborn as sns

In [83]:
#データ読み込み
df_ks = pd.read_csv("./ks-projects-201801.csv")

In [84]:
#データ概要
display( df_ks.head() )
display( df_ks.describe() )
display( df_ks.info() )

#各項目の値の種類
for key in df_ks:
    if 'ID' == key or 'name' == key:
        continue
    display( '<' + key + '>')
    display( df_ks[key].value_counts() )

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0,1283.0,19500.00

,ID,goal,pledged,backers,usd pledged,usd_pledged_real,usd_goal_real
count,3.786610e+05,3.786610e+05,3.786610e+05,378661.000000,3.748640e+05,3.786610e+05,3.786610e+05
mean,1.074731e+09,4.908079e+04,9.682979e+03,105.617476,7.036729e+03,9.058924e+03,4.545440e+04
std,6.190862e+08,1.183391e+06,9.563601e+04,907.185035,7.863975e+04,9.097334e+04,1.152950e+06
min,5.971000e+03,1.000000e-02,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,1.000000e-02
25%,5.382635e+08,2.000000e+03,3.000000e+01,2.000000,1.698000e+01,3.100000e+01,2.000000e+03
50%,1.075276e+09,5.200000e+03,6.200000e+02,12.000000,3.947200e+02,6.243300e+02,5.500000e+03
75%,1.610149e+09,1.600000e+04,4.076000e+03,56.000000,3.034090e+03,4.050000e+03,1.550000e+04
max,2.147476e+09,1.000000e+08,2.033899e+07,219382.000000,2.033899e+07,2.033899e+07,1.663614e+08

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 15 columns):
ID                  378661 non-null int64
name                378657 non-null object
category            378661 non-null object
main_category       378661 non-null object
currency            378661 non-null object
deadline            378661 non-null object
goal                378661 non-null float64
launched            378661 non-null object
pledged             378661 non-null float64
state               378661 non-null object
backers             378661 non-null int64
country             378661 non-null object
usd pledged         374864 non-null float64
usd_pledged_real    378661 non-null float64
usd_goal_real       378661 non-null float64
dtypes: float64(5), int64(2), object(8)
memory usage: 43.3+ MB

None

'<category>'

Product Design       22314
Documentary          16139
Music                15727
Tabletop Games       14180
Shorts               12357
Video Games          11830
Food                 11493
Film & Video         10108
Fiction               9169
Fashion               8554
Nonfiction            8318
Art                   8253
Apparel               7166
Theater               7057
Technology            6930
Rock                  6758
Children's Books      6756
Apps                  6345
Publishing            6018
Webseries             5762
Photography           5752
Indie Rock            5657
Narrative Film        5188
Web                   5153
Comics                4996
Crafts                4664
Country & Folk        4451
Design                4199
Hip-Hop               3912
Hardware              3663
                     ...
Couture                275
Blues                  268
Animals                255
Fabrication Tools      250
Makerspaces            238
Printing               238
Movie Theaters         232
Puzzles                231
Bacon                  221
Stationery             219
Photo                  196
Video Art              194
Romance                190
Knitting               181
Workshops              164
Crochet                162
Translations           153
Pet Fashion            139
Glass                  138
Latin                  137
Embroidery             113
Typography             108
Pottery                100
Weaving                 93
Quilts                  81
Residencies             69
Letterpress             49
Chiptune                35
Literary Spaces         27
Taxidermy               13
Name: category, Length: 159, dtype: int64

'<main_category>'

Film & Video    63585
Music           51918
Publishing      39874
Games           35231
Technology      32569
Design          30070
Art             28153
Food            24602
Fashion         22816
Theater         10913
Comics          10819
Photography     10779
Crafts           8809
Journalism       4755
Dance            3768
Name: main_category, dtype: int64

'<currency>'

USD    295365
GBP     34132
EUR     17405
CAD     14962
AUD      7950
SEK      1788
MXN      1752
NZD      1475
DKK      1129
CHF       768
NOK       722
HKD       618
SGD       555
JPY        40
Name: currency, dtype: int64

'<deadline>'

2014-08-08    705
2014-08-10    558
2014-08-07    541
2015-05-01    489
2014-08-09    477
2015-07-01    449
2015-04-01    430
2014-08-15    423
2014-08-31    420
2014-08-14    413
2014-08-13    394
2014-08-20    394
2015-04-30    391
2014-11-01    379
2015-01-01    378
2015-10-01    375
2014-08-16    361
2015-05-31    359
2017-12-01    356
2015-03-01    355
2015-08-01    349
2014-09-07    344
2014-09-12    344
2014-10-31    343
2015-06-01    343
2015-04-03    338
2014-08-11    337
2014-08-17    336
2016-04-01    334
2015-07-31    334
             ...
2009-07-20      1
2009-07-03      1
2009-09-04      1
2009-09-18      1
2009-07-30      1
2009-05-22      1
2010-01-29      1
2009-07-09      1
2009-06-09      1
2009-05-20      1
2009-07-26      1
2009-09-28      1
2009-09-24      1
2009-06-17      1
2009-08-18      1
2009-08-03      1
2010-02-19      1
2009-09-08      1
2009-08-24      1
2009-11-13      1
2009-06-20      1
2009-07-11      1
2009-10-27      1
2009-09-23      1
2009-08-17      1
2009-06-04      1
2009-06-16      1
2009-08-06      1
2009-07-06      1
2009-06-14      1
Name: deadline, Length: 3164, dtype: int64

'<goal>'

5000.0       29779
10000.0      26029
1000.0       16950
3000.0       15743
2000.0       15257
15000.0      14231
20000.0      13104
2500.0       11864
500.0        11599
25000.0      10371
1500.0       10314
50000.0       9571
4000.0        8310
30000.0       7782
6000.0        7496
3500.0        6791
8000.0        6479
7000.0        5076
12000.0       4987
100000.0      4862
7500.0        4814
35000.0       3593
40000.0       3428
300.0         3196
1200.0        3031
4500.0        2912
5500.0        2835
600.0         2807
800.0         2522
100.0         2458
             ...
10922.0          1
2988.0           1
765000.0         1
2095.0           1
11956.0          1
49680.0          1
15420.0          1
1894.0           1
7578.0           1
5965.0           1
4700000.0        1
21950.0          1
7577.0           1
2977.0           1
47633.0          1
47645.0          1
2978.0           1
6432.0           1
15153.0          1
1489.5           1
47666.0          1
5959.0           1
11919.0          1
20950.0          1
28760.0          1
2981.0           1
728.0            1
9064.0           1
18350.0          1
15780.0          1
Name: goal, Length: 8353, dtype: int64

'<launched>'

1970-01-01 01:00:00    7
2014-10-29 17:57:01    2
2014-09-05 04:20:56    2
2014-04-14 18:22:59    2
2013-04-02 15:00:11    2
2017-08-23 15:01:28    2
2014-03-14 19:09:36    2
2015-01-28 17:10:48    2
2012-09-17 21:42:05    2
2014-12-10 22:33:11    2
2016-09-06 21:49:38    2
2015-04-09 00:34:08    2
2016-04-01 23:52:21    2
2016-01-21 23:45:25    2
2017-08-07 16:43:32    2
2014-07-21 20:51:39    2
2016-12-06 18:54:16    2
2015-09-01 08:24:57    2
2014-07-15 18:26:57    2
2014-08-20 21:32:52    2
2015-03-02 22:17:50    2
2014-07-26 02:49:02    2
2016-11-01 15:02:40    2
2013-10-02 02:05:02    2
2017-02-14 17:00:00    2
2015-05-11 19:05:03    2
2014-08-05 20:19:39    2
2017-01-29 00:08:04    2
2016-04-11 22:52:31    2
2016-07-28 19:10:40    2
                      ..
2013-07-02 23:08:59    1
2015-05-28 07:19:05    1
2014-04-30 04:43:31    1
2015-04-21 01:55:04    1
2014-10-10 22:27:10    1
2015-10-01 06:40:31    1
2017-11-13 17:51:20    1
2015-03-20 17:08:21    1
2017-08-15 11:56:59    1
2015-07-09 23:56:17    1
2016-01-14 21:29:19    1
2016-04-22 04:42:06    1
2014-04-20 22:46:50    1
2016-04-02 01:04:02    1
2015-06-23 21:39:01    1
2015-01-29 13:07:01    1
2016-07-12 17:45:39    1
2017-08-25 19:39:00    1
2016-05-10 17:28:22    1
2017-11-26 18:02:08    1
2011-06-14 01:25:02    1
2013-02-14 20:52:49    1
2010-07-13 23:20:56    1
2016-04-20 23:41:53    1
2010-10-21 10:52:58    1
2015-06-22 09:10:29    1
2016-08-14 16:53:48    1
2017-09-25 05:06:25    1
2013-09-26 23:22:45    1
2016-03-11 20:10:55    1
Name: launched, Length: 378089, dtype: int64

'<pledged>'

0.00         52527
1.00          9195
10.00         5034
25.00         3994
50.00         3626
5.00          3610
20.00         3220
100.00        3062
2.00          2434
30.00         2129
15.00         1738
40.00         1459
60.00         1451
35.00         1392
11.00         1292
75.00         1229
150.00        1177
200.00        1154
6.00          1109
26.00         1015
70.00          985
125.00         948
55.00          946
110.00         929
51.00          898
3.00           891
21.00          889
45.00          887
80.00          848
500.00         825
             ...
26093.00         1
222.43           1
23620.00         1
30802.00         1
2418.69          1
104410.00        1
13126.07         1
19435.23         1
21138.99         1
10200.20         1
52217.00         1
4368.33          1
104430.00        1
26107.00         1
39514.00         1
681.13           1
104426.00        1
413.99           1
52990.22         1
104423.00        1
52210.00         1
2550.55          1
2537.45          1
34955.64         1
52209.00         1
303.57           1
189983.12        1
7211.70          1
5305.69          1
3026.75          1
Name: pledged, Length: 62130, dtype: int64

'<state>'

failed        197719
successful    133956
canceled       38779
undefined       3562
live            2799
suspended       1846
Name: state, dtype: int64

'<backers>'

0        55609
1        34869
2        23196
3        16063
4        12068
5         9716
6         8137
7         7014
8         6198
9         5553
10        5068
11        4547
12        4348
13        4136
14        3950
15        3734
16        3447
17        3440
18        3164
19        3148
20        2959
21        2822
22        2731
23        2648
25        2543
24        2521
26        2416
27        2315
28        2261
29        2159
         ...
4482         1
2433         1
4226         1
1919         1
3713         1
28274        1
15736        1
2942         1
4477         1
18550        1
1918         1
5250         1
44949        1
2181         1
6784         1
10119        1
1923         1
1411         1
9095         1
2946         1
2690         1
2178         1
4739         1
1922         1
1410         1
2691         1
3712         1
3456         1
74405        1
2047         1
Name: backers, Length: 3963, dtype: int64

'<country>'

US      292627
GB       33672
CA       14756
AU        7839
DE        4171
N,0"      3797
FR        2939
IT        2878
NL        2868
ES        2276
SE        1757
MX        1752
NZ        1447
DK        1113
IE         811
CH         761
NO         708
HK         618
BE         617
AT         597
SG         555
LU          62
JP          40
Name: country, dtype: int64

'<usd pledged>'

0.00        68112
1.00         5341
25.00        3877
10.00        3624
50.00        3141
100.00       2674
5.00         2598
20.00        2473
30.00        1717
2.00         1451
15.00        1310
40.00        1189
60.00        1184
35.00        1179
75.00        1120
150.00       1065
200.00        989
125.00        917
70.00         791
55.00         777
110.00        773
45.00         758
11.00         736
80.00         711
26.00         706
120.00        666
6.00          665
250.00        652
500.00        619
300.00        604
            ...
137.65          1
10355.12        1
53012.00        1
403.76          1
572.96          1
1394.74         1
154.45          1
155.55          1
316.40          1
2354.56         1
29406.05        1
87.14           1
53001.00        1
617.55          1
13249.50        1
3402.93         1
7350.70         1
10313.13        1
161.83          1
161.17          1
34095.50        1
26503.00        1
23.13           1
36238.11        1
13251.00        1
10315.88        1
1615.79         1
13251.25        1
165.94          1
2205.64         1
Name: usd pledged, Length: 95455, dtype: int64

'<usd_pledged_real>'

0.00         52527
1.00          6678
10.00         3633
25.00         3455
50.00         2937
5.00          2584
100.00        2461
20.00         2354
2.00          1700
30.00         1655
15.00         1280
60.00         1128
35.00         1126
40.00         1106
75.00         1032
150.00         961
200.00         906
11.00          905
125.00         838
26.00          832
6.00           774
55.00          743
70.00          740
110.00         720
51.00          688
45.00          683
80.00          657
120.00         624
3.00           623
500.00         611
             ...
75392.17         1
13801.00         1
1178.03          1
63657.26         1
12635.11         1
10326.63         1
12899.07         1
1135.73          1
54.92            1
2363.44          1
13275.00         1
389.02           1
26549.00         1
280.13           1
272.31           1
229.85           1
273.69           1
53099.00         1
106198.50        1
57440.00         1
10029.37         1
30740.00         1
1232.35          1
39435.70         1
26551.00         1
103748.00        1
286892.62        1
27235.69         1
10756.22         1
3575.02          1
Name: usd_pledged_real, Length: 106065, dtype: int64

'<usd_goal_real>'

5000.00      24173
10000.00     20786
1000.00      13029
3000.00      12699
2000.00      11915
15000.00     11374
20000.00     10121
2500.00       9849
500.00        8588
25000.00      8364
1500.00       8171
50000.00      7230
4000.00       6688
6000.00       5983
30000.00      5908
3500.00       5695
8000.00       5215
7000.00       4115
7500.00       4076
12000.00      4074
100000.00     3480
35000.00      2709
1200.00       2493
40000.00      2476
5500.00       2382
4500.00       2328
300.00        2210
600.00        2059
800.00        1919
6500.00       1877
             ...
51918.94         1
1756.41          1
5568.56          1
2372.80          1
792.52           1
19990.77         1
22279.99         1
15000.15         1
3085.00          1
45211.36         1
30017.45         1
12684.31         1
10040.99         1
3170.58          1
330509.31        1
22835.57         1
3244.59          1
2770.31          1
19980.27         1
10327.08         1
33691.64         1
878.83           1
63636.17         1
3065.60          1
16846.07         1
6561.57          1
12346.25         1
2392.95          1
1757.91          1
781250.00        1
Name: usd_goal_real, Length: 50339, dtype: int64

In [85]:
# 欠損値を含むレコードを削除
print( '◆欠損値を含むレコード（削除前）' )
print( df_ks.isnull().sum() )
df_ks = df_ks.dropna()
print( '◆欠損値を含むレコード（削除後）' )
print( df_ks.isnull().sum() )

◆欠損値を含むレコード（削除前）
ID                     0
name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64
◆欠損値を含むレコード（削除後）
ID                  0
name                0
category            0
main_category       0
currency            0
deadline            0
goal                0
launched            0
pledged             0
state               0
backers             0
country             0
usd pledged         0
usd_pledged_real    0
usd_goal_real       0
dtype: int64

In [86]:
# 'state' の値を failed->False, successful ->True に置き換える
display( df_ks['state'].value_counts() )
df_ks.loc[ df_ks['state'] == 'failed', 'state'] = False
df_ks.loc[ df_ks['state'] == 'successful', 'state'] = True

# 'state' の値が False, True いずれでもない行は削除する
drop_index = df_ks.index[ ( df_ks['state'] != False ) & ( df_ks['state'] != True ) ]
df_ks = df_ks.drop( drop_index )
display( df_ks['state'].value_counts() )

failed        197611
successful    133851
canceled       38757
live            2798
suspended       1843
Name: state, dtype: int64

False    197611
True     133851
Name: state, dtype: int64

In [77]:
# backers と usd pledged を説明変数として、state を目的変数として学習
X = df_ks[['backers', 'usd pledged']].values
y = df_ks['state'].values
clf = SGDClassifier(loss='log', penalty='none', max_iter=10000, fit_intercept=True, random_state=1234, tol=1e-3)
clf.fit(X, y)

# 重み付けの出力
w0 = clf.intercept_[0]
w1 = clf.coef_[0, 0]
w2 = clf.coef_[0, 1]
print("w0 = {:.3f}, w1 = {:.3f}, w2 = {:.3f}".format(w0, w1, w2))

w0 = -26845.522, w1 = 339.349, w2 = 7.304

In [93]:
# 予測
y_est = clf.predict(X)

# 対数尤度を表示
print('対数尤度 = {:.3f}'.format(- log_loss(y, y_est)))

# 正答率を表示
print('正答率 = {:.3f}%'.format(100 * accuracy_score(y, y_est)))

# Precision, Recall, F1-scoreを計算
precision, recall, f1_score, _ = precision_recall_fscore_support(y, y_est)

# Precision, Recall, F1-scoreを表示
print('適合率（Precision） = {:.3f}%'.format(100 * precision[1]))
print('再現率（Recall） = {:.3f}%'.format(100 * recall[1]))
print('F1値（F1-score） = {:.3f}%'.format(100 * f1_score[1]))

対数尤度 = -6.191
正答率 = 82.075%
適合率（Precision） = 81.643%
再現率（Recall） = 71.742%
F1値（F1-score） = 76.373%

In [94]:
# 予測値と正解のクロス集計
conf_mat = pd.DataFrame(confusion_matrix(y, y_est), index=['正解 = 0', '正解 = 1'], columns=['予測値 = 0', '予測値 = 1'])
conf_mat

        予測値 = 0  予測値 = 1
正解 = 0   176020    21591
正解 = 1    37824    96027